.card{
    /* size */
    padding-top: 10px;
    padding-bottom: 10px;

    /* block styling */
    border: 3px solid rgb(149, 187, 199);
    border-radius: 12px;
}

.card-icon{
    font-size: 6 rem;
}

.card-statistic{
    font-weight: 300;
    font-size: 72pt;
}

#drill-down-tv{
    display: block;
    max-height: 0;
    overflow: hidden;
}

#drill-down-bp{
    display: block;
    max-height: 0;
    overflow: hidden;
}

#drill-down-fb{
    display: block;
    max-height: 0;
    overflow: hidden;
}

.row-title{
    text-align: center;
    font-weight: 300;
    font-size: 4.5rem;
}

.row-shaded{
    background-color: rgb(253, 235, 246);
    border-radius: 12px;
    padding: 10px 20px 10px 20px;
}

.title{
    text-align: center;
    font-size: 6rem;
    line-height: 1;
    letter-spacing: -.1rem;
    padding-top: 30px;
    padding-bottom: 20px;
}
    

/* Hide dash's floating toolbar that appears when you hover over plots */
.modebar {
    display: none !important;
}